<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tutor Online</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/Content/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Side Panel Style -->
    <link rel="stylesheet" href="~/Content/sidebar/css/style.css">

    <!-- payment Style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Payment/custom.css">

    
</head>
<body>


    @RenderBody()



    <footer class="site-footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3>University</h3>
                    <p>Perferendis eum illum voluptatibus dolore tempora consequatur minus asperiores temporibus.</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3 class="heading">Quick Link</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                <li><a href="@Url.Action("About","Home")">About Us</a></li>
                                <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li><a href="#">News</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3 class="heading">Blog</h3>
                    <div class="block-21 d-flex mb-4">
                        <div class="text">
                            <h3 class="heading mb-0"><a href="#">Consectetur Adipisicing Elit</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="ion-android-calendar"></span> May 29, 2018</a></div>
                                <div><a href="#"><span class="ion-android-person"></span> Admin</a></div>
                                <div><a href="#"><span class="ion-chatbubble"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 d-flex mb-4">
                        <div class="text">
                            <h3 class="heading mb-0"><a href="#">Dolore Tempora Consequatur</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="ion-android-calendar"></span> May 29, 2018</a></div>
                                <div><a href="#"><span class="ion-android-person"></span> Admin</a></div>
                                <div><a href="#"><span class="ion-chatbubble"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 d-flex mb-4">
                        <div class="text">
                            <h3 class="heading mb-0"><a href="#">Perferendis eum illum</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="ion-android-calendar"></span> May 29, 2018</a></div>
                                <div><a href="#"><span class="ion-android-person"></span> Admin</a></div>
                                <div><a href="#"><span class="ion-chatbubble"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3 class="heading">Contact Information</h3>
                    <div class="block-23">
                        <ul>
                            <li><span class="icon ion-android-pin"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                            <li><a href="#"><span class="icon ion-ios-telephone"></span><span class="text">+2 392 3929 210</span></a></li>
                            <li><a href="#"><span class="icon ion-android-mail"></span><span class="text">info@yourdomain.com</span></a></li>
                            <li><span class="icon ion-android-time"></span><span class="text">Monday &mdash; Friday 8:00am - 5:00pm</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <script src="~/Content/js/jquery.animateNumber.min.js"></script>

    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>


    <script src="~/Content/js/main.js"></script>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <!-- Sweet Alerts-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

</body>
</html>
